Source: gdebi
Section: admin
Priority: optional
Maintainer: Michael Vogt <michael.vogt@ubuntu.com>
Build-Depends: debhelper (>= 4.0.0), python, python-dev
Standards-Version: 3.6.1.1

Package: gdebi
Architecture: all
Depends: python, ${shlibs:Depends}, python2.4-gtk2, python2.4-glade2, python2.4-apt (>= 0.6.13.2), dpkg, python-vte (>= 0.11.15-0ubuntu2)
Description: Simple tool to install deb files
 Install and view deb packages directly.
