Source: gdebi
Section: admin
Priority: optional
Maintainer: Gustavo Franco <stratus@debian.org>
Uploaders: Gustavo Franco <stratus@debian.org>, Michael Vogt <mvo@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0), python-dev
Standards-Version: 3.6.2.1

Package: gdebi
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, python-gtk2 (>= 2.6.3-2), python-glade2 (>= 2.6.3-2), python-apt (>= 0.6.15), python-vte (>= 1:0.11.15-4), gksu (>= 1.3.6-1)
Description: Simple tool to install deb files
 gdebi lets you install local deb packages resolving and installing 
 its dependencies. apt does the same, but only for remote (http, ftp)
 located packages.
 .
 It has a graphical user interface but can be used in your terminal.
