#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKG=gdebi
DEBVER=$(shell dpkg-parsechangelog |sed -n -e '/^Version:/s/^Version: //p')
DEB_BUILD_PROG:=debuild --preserve-envvar PATH --preserve-envvar CCACHE_DIR -us -uc $(DEB_BUILD_PROG_OPTS)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	kdepyuic data/GDebiKDEDialog.ui
	kdepyuic data/GDebiKDEInstallDialog.ui

	# Add here commands to compile the package.
	#$(MAKE)
	python ./setup.py build

	touch build-stamp

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	python ./setup.py clean --all
	find . -name "*.so" -exec rm {} \;
	find . -name "*.o" -exec rm {} \;
	find . -name "*.pyc" -exec rm {} \;
	find . -name "GDebiKDEDialog.py" -exec rm {} \;
	find . -name "GDebiKDEInstallDialog.py" -exec rm {} \;


	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/gdebi.
	python ./setup.py install --prefix=$(CURDIR)/debian/tmp/usr
	cp GDebiKDEDialog.py $(CURDIR)/debian/tmp/usr/lib/python2.5/site-packages/GDebi/GDebiKDEDialog.py
	cp GDebiKDEInstallDialog.py $(CURDIR)/debian/tmp/usr/lib/python2.5/site-packages/GDebi/GDebiKDEInstallDialog.py
	


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
	dh_installmime
	dh_desktop
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman

	# We split the GDebi python module across the two packages:
	set -e; cd debian/tmp; for s in usr/lib/python*; do		\
		d=../gdebi-core/$$s; p=site-packages/GDebi;		\
		g=../gdebi/$$s;						\
		mkdir -p $$d/$$p $$g/$$p;				\
		cp $$s/$$p/* $$d/$$p/.;					\
		for f in SimpleGladeApp GDebi; do			\
			mv $$d/$$p/$$f.* $$g/$$p/.;			\
		done;							\
	done

	dh_install -Xsite-packages/GDebi --list-missing

	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
	dh_pycentral
   
	find debian/gdebi debian/gdebi-core -type d -print0 | xargs -0 \
		rmdir -p --ignore-fail-on-non-empty --

	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


arch-build:
	rm -rf debian/arch-build
	mkdir -p debian/arch-build/$(PKG)-$(DEBVER)
	tar -c --exclude=arch-build --no-recursion -f - `bzr inventory` | (cd debian/arch-build/$(PKG)-$(DEBVER);tar xf -)
	(cd debian/arch-build/$(PKG)-$(DEBVER) && $(DEB_BUILD_PROG))


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
