#!/usr/bin/make -f

PYTHON=python2

%:
	dh $@ --with python2

clean:
	dh $@
	rm -rf build GDebi/Version.py po/mo

override_dh_auto_test:
	xvfb-run -a $(PYTHON) setup.py test

override_dh_auto_install:
	dh_auto_install -- --install-scripts=/usr/share/gdebi \
		--install-lib=/usr/share/gdebi

override_dh_python2:
	dh_python2 /usr/share/gdebi
