[Desktop Entry]
Name=Package Installer
GenericName=Install deb files
Comment=Install deb files directly
Exec=gdebi-gtk
Icon=gdebi.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;
MimeType=application/x-deb;
NoDisplay=true