[Desktop Entry]
Name=GDebi
GenericName=Install deb files
Comment=Install deb files
Exec=gdebi-gtk
Icon=gdebi.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;
MimeType=application/x-deb;
